body{
    font-family: 'Poppins', sans-serif;
    margin: 40px;

/* }connector */
main{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.connector{
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 95px;
    justify-content: center;
    align-items: center;
/* }------------------------------------------------------ */
/* Header Part */
#navigation-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navigation-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#navigation-container a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 5px 15px;
}

#navigation-container li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* end */
/* First Section */
.intro-sec{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;

}
.top-header{
    font-size: 24px;
   
}

.product-ditails-heading{
    
    width: 582px;
height: 133px;
    font-weight: bold;
font-size: 52px;
}
.product-details-parag{
    
    font-size: 16px;
}
.booking-button button{
    width: 196px;
    height: 44px;
    border-radius: 41px;
    border: none;
    background-color: rgb(136, 7, 7);
    font-size: 15px;
    color: whitesmoke;
    transition: 0.5s;
    
}
.booking-button:hover{
    transform: scale(1.1);
}
 

}
.product-img{
    width: 582px;
height: 270px;
margin-left: 133px;
padding-bottom: 100px;
}
/* End */

/* Brand Part */
.logos{
    border-top: 1px solid darkgray;
    border-bottom:1px solid darkgray;
    padding: 10px 20px;
    margin: 80px 165px;
}
.brands{
    display: grid;
    grid-template-columns:repeat(7,1fr);
    justify-items: center;
    grid-column-gap: 40px;
}
.brand-logo img{
    width:55px;
    height: 31px;
}
/* -------------------------------- */
/* third Section */
.section-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.component-heading{
text-align: center;
font: size 28px;
}
.collection-ditails{
    width: 329px;
height: 476px;
background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
border-radius: 5px;
padding: 10px 50px;
}
.collection-ditails-img img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.collection-ditails:hover{
    transform: scale(1.1);
}
.img-heading{
   
    Width:173px;Height:40px;
    color: #18191F;
    font-size: 15px;
}
.collection-price{
    Width:92px;
Height :36px;
color:#000000;
font-size: 12px;
}
.fa-star{
   width:16px;
   height: 16px;
    color: #FB8200;
}
.rating{
    width:122px;
    height:32px;
}
.collection-review{
    width:196px;
    height:61px;
    color:#787885;

}
/* --------------------------------------------- */
/* Bonus Part */
.extra{
    width: 1110px;
height: 270px;
margin:96px 165px;
display:grid;
grid-template-columns: repeat(2,1fr);
}
.extra-sec-button button{
    background: #E02C6D;
    padding: 5px 24px;
    border:none;
    width: 120px;
    height: 030px;
    border-radius: 5px;
    font-size: 15px;
    color: whitesmoke;
    transition: 0.5s;
}
.extra-sec-img{
    width: 404px;
height: 270px;
}.extra-sec-heading{
    Width:610px;
Height:60px;
font-size: 20px;
color:#0A0826;

}
.extra-parag{
    Width:501px;
Height:px;
color:#6C6C6C;
/* }--------------------------------------------- */
/* Footer */
footer {
    text-align: center;
    color: white;
    background-color: #0A0826;
    padding: 50px 289px;
    width: 100%;
}
footer .social-network {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}
footer i{
    font-size: 32px;
    margin-right: 16px;
}
/* --------------------------------- */
/* Media  query*/

@media only screen and (max-width: 688px) {

    .connector,.brands,.section-grid,.extra{
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media only screen and (min-width: 688px) and (max-width:992px) {

    .connector,.brands,.section-grid,.extra{
        grid-template-columns: repeat(2,1fr);
    }
    .social-network,.connector,.brand,.section-grid,.extra{
        flex-direction: column;
    }
}